<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.0/math.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vis-network/standalone/umd/vis-network.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="calculator dark">
            <div class="theme-toggler active" onclick="toggleTheme()">
                <i class="toggler-icon"></i>
            </div>
            <div class="display-screen">
                <input type="text" name="expression" id="expression" class="expression-input" placeholder="Enter expression" oninput="fitText()" required>
                <i class="fas fa-backspace" onclick="clearExpression2()"></i>
            </div>
            <div class="buttons">
                <!-- Botones de la calculadora -->
                <div class="row">
                    <button type="button" class="btn-operator" value="(" onclick="appendToExpression('(')"> ( </button>
                    <button type="button" class="btn-operator" value=")" onclick="appendToExpression(')')"> ) </button>
                    <button type="button" class="btn-operator" value="+" onclick="appendToExpression('+')"> + </button>
                    <button type="button" class="btn-operator" value="-" onclick="appendToExpression('-')"> - </button>
                </div>
                <div class="row">
                    <button type="button" class="btn-number" onclick="appendToExpression('7')">7</button>
                    <button type="button" class="btn-number" onclick="appendToExpression('8')">8</button>
                    <button type="button" class="btn-number" onclick="appendToExpression('9')">9</button>
                    <button type="button" class="btn-operator" value="/" onclick="appendToExpression('/')"> / </button>
                </div>
                <div class="row">
                    <button type="button" class="btn-number" onclick="appendToExpression('4')">4</button>
                    <button type="button" class="btn-number" onclick="appendToExpression('5')">5</button>
                    <button type="button" class="btn-number" onclick="appendToExpression('6')">6</button>
                    <button type="button" class="btn-operator" value="*" onclick="appendToExpression('*')"> * </button>
                </div>
                <div class="row">
                    <button type="button" class="btn-number" onclick="appendToExpression('1')">1</button>
                    <button type="button" class="btn-number" onclick="appendToExpression('2')">2</button>
                    <button type="button" class="btn-number" onclick="appendToExpression('3')">3</button>
                    <button type="button" class="btn-operator" onclick="clearExpression()">C</button>
                </div>
                <div class="row">
                    <button type="button" class="btn-operator" onclick="appendToExpression('0')">0</button>
                    <button type="button" class="btn-operator" onclick="appendToExpression('.')">.</button>
                    <button type="button" class="calculate" colspan="4" onclick="calculateExpression()">Calculate</button>
                </div>
            </div>
        </div>
        
        <div class="result">
            <div class="result-box" id="result-box">
                <h3>Result</h3>
                {% if result is not none %}
                    <span>{{ result }}</span>
                {% endif %}
                {% if error %}
                    <span style="color: red;">{{ error }}</span>
                {% endif %}
            </div>
        </div>
        
        <div class="analysis-container">
            <div class="analysis">
                <h3>Analysis</h3>
                <div class="components-table">
                    {% if components %}
                        <table>
                            <tr>
                                <th>Component</th>
                                <th>Type</th>
                            </tr>
                            {% for component, type in components %}
                                <tr>
                                    <td>{{ component }}</td>
                                    <td>{{ type }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>No expression analyzed yet.</p>
                    {% endif %}
                </div>
            </div>
        </div> 

        <!-- Contenedor para el árbol -->
        <div class="tree-container" id="tree-container" style="display: none;">
            <h3>Árbol Sintáctico:</h3>
            <div id="mynetwork"></div>
        </div>

        <!-- Botón para mostrar el árbol -->
        <button type="button" class="tree" onclick="showTree()">Tree</button>

        <!-- Aquí puedes agregar más elementos según sea necesario -->
    </div>

    <script>
        // Lógica JavaScript para la calculadora
        function appendToExpression(value) {
            document.getElementById("expression").value += value;
            fitText();
        }

        function clearExpression() {
            document.getElementById("expression").value = "";
            fitText();
        }

        function clearExpression2() {
            var expression = document.getElementById("expression").value;
            if (expression.length > 0) {
                // Eliminar el último carácter de la expresión
                expression = expression.substring(0, expression.length - 1);
                document.getElementById("expression").value = expression;
                fitText();
            }
        }

        function allowOnlyCalculatorChars(event) {
            var allowedChars = [
                "0", "1", "2", "3", "4", "5", "6", "7", "8", "9",
                "+", "-", "*", "/", ".", "(", ")", "Backspace", "Delete"
            ];
            var key = event.key;
            if (allowedChars.includes(key)) {
                return true;
            } else {
                event.preventDefault();
                return false;
            }
        }

        // Ajustar el tamaño del texto en el display
        function fitText() {
            var input = document.getElementById("expression");
            var valueLength = input.value.length;
            var maxSize = 20;
            var minSize = 8;
            var size = maxSize - (valueLength * 0.5);
            input.style.fontSize = Math.max(minSize, size) + "px";
        }

        // ----------------------------------------------------------------------------------------------------

        // Lógica JavaScript para mostrar el árbol sintáctico

        // Mostrar el árbol sintáctico
        function showTree() {
            var expression = document.getElementById("expression").value.trim();

            // Verificar si se ingresó una expresión válida
            if (expression === "") {
                showError("Please enter an expression first.");
                return;
            }

            // Generar el árbol sintáctico basado en la expresión ingresada
            var treeData = generateTree(expression);

            // Renderizar el árbol
            renderTree(treeData);
        }

        // Generar el árbol sintáctico basado en la expresión ingresada
        function generateTree(expression) {
            var operatorPrecedence = {
                '+': 1,
                '-': 1,
                '*': 2,
                '/': 2
            };

            var output = [];
            var stack = [];
            var number = '';
            for (var i = 0; i < expression.length; i++) {
                var char = expression[i];
                if (char === ' ') continue;

                if (!isNaN(parseInt(char))) {
                    number += char;
                } else {
                    if (number !== '') {
                        output.push(number);
                        number = '';
                    }
                    if (char === '(') {
                        stack.push(char);
                    } else if (char === ')') {
                        while (stack.length && stack[stack.length - 1] !== '(') {
                            output.push(stack.pop());
                        }
                        stack.pop();
                    } else {
                        while (stack.length && operatorPrecedence[char] <= operatorPrecedence[stack[stack.length - 1]]) {
                            output.push(stack.pop());
                        }
                        stack.push(char);
                    }
                }
            }
            if (number !== '') {
                output.push(number);
            }

            while (stack.length) {
                output.push(stack.pop());
            }

            // Generar el árbol sintáctico
            var root = {};
            for (var i = 0; i < output.length; i++) {
                var token = output[i];
                if (!isNaN(parseInt(token))) {
                    stack.push({ label: token });
                } else {
                    var right = stack.pop();
                    var left = stack.pop();
                    stack.push({ label: token, left: left, right: right });
                }
            }

            root = stack.pop();
            return root;
        }

        // Renderizar el árbol sintáctico
        function renderTree(treeData) {
            var container = document.getElementById('mynetwork');
            var data = {
                nodes: [],
                edges: []
            };

            addNodesAndEdges(treeData, null, data.nodes, data.edges);

            var options = {
                layout: {
                    hierarchical: {
                        direction: 'UD', // Arriba hacia abajo
                        sortMethod: 'directed'
                    }
                },
                nodes: {
                    shape: 'circle', // Forma de los nodos
                    size: 30, // Tamaño de los nodos
                    font: {
                        size: 18, // Tamaño de la fuente
                        color: '#FFFFFF' // Color del texto
                    },
                    borderWidth: 2, // Ancho del borde
                    color: {
                        border: '#4CAF50', // Color del borde
                        background: '#4CAF50' // Color de fondo
                    }
                },
                edges: {
                    color: '#ccc', // Color de los bordes
                    width: 1 // Grosor de los bordes
                }
            };

            var network = new vis.Network(container, data, options);

            // Mostrar el contenedor del árbol
            document.getElementById('tree-container').style.display = 'block';
        }

        function addNodesAndEdges(treeData, parentId, nodes, edges) {
            if (!treeData) return;

            var id = nodes.length + 1;

            if (treeData.left && treeData.right) {
                nodes.push({ id: id, label: treeData.label });
                if (parentId) {
                    edges.push({ from: parentId, to: id });
                }

                addNodesAndEdges(treeData.left, id, nodes, edges);
                addNodesAndEdges(treeData.right, id, nodes, edges);
            } else if (treeData.left) {
                nodes.push({ id: id, label: treeData.label });
                if (parentId) {
                    edges.push({ from: parentId, to: id });
                }

                addNodesAndEdges(treeData.left, id, nodes, edges);
            } else if (treeData.right) {
                nodes.push({ id: id, label: treeData.label });
                if (parentId) {
                    edges.push({ from: parentId, to: id });
                }

                addNodesAndEdges(treeData.right, id, nodes, edges);
            } else {
                nodes.push({ id: id, label: treeData.label });
                if (parentId) {
                    edges.push({ from: parentId, to: id });
                }
            }
        }

        // Guardar la expresión antes de calcular
        function saveExpression() {
            var expression = document.getElementById("expression").value.trim();
            localStorage.setItem("currentExpression", expression);
            document.getElementById("display").value = expression;
            return true;
        }

        // Recuperar la última expresión ingresada al cargar la página
        window.onload = function() {
            var expression = localStorage.getItem("currentExpression");
            if (expression) {
                document.getElementById("expression").value = expression;
                document.getElementById("display").value = expression;
                fitText();
            }
        };

        // Cambiar entre temas claro y oscuro
        function toggleTheme() {
            document.body.classList.toggle('dark-theme');
            var themeToggler = document.querySelector('.theme-toggler');
            themeToggler.classList.toggle('active');
        }

        function showError(message) {
            var resultBox = document.getElementById('result-box');
            resultBox.innerHTML = `<h3>Error</h3><span style="color: red;">${message}</span>`;
        }

        // Validar la expresión antes de calcular
        function calculateExpression() {
            var expression = document.getElementById("expression").value.trim();
            if (expression === "") {
                showError("Ingresa una expresión valida primero");
                return;
            }
            try {
                var result = math.evaluate(expression);
                document.getElementById("result-box").innerHTML = `<h3>Result</h3><span>${result}</span>`;
                analyzeExpression(expression);
            } catch (error) {
                showError(error.message);
            }
        }

        // Analizar la expresión
        function analyzeExpression(expression) {
            var components = [];
            var operatorPrecedence = {
                '+': 'Operador Suma',
                '-': 'Operador Resta',
                '*': 'Operador Multiplicacion',
                '/': 'Operador Division',
                '(': 'Parentesis Izquierdo',
                ')': 'Parentesis derecho',
                '.': 'punto'
            };
            var number = '';
            for (var i = 0; i < expression.length; i++) {
                var char = expression[i];
                if (char === ' ') continue;

                if (!isNaN(parseInt(char))) {
                    number += char;
                } else {
                    if (number !== '') {
                        components.push([number, 'Numero']);
                        number = '';
                    }
                    components.push([char, operatorPrecedence[char]]);
                }
            }
            if (number !== '') {
                components.push([number, 'Numero']);
            }

            var result = document.querySelector('.components-table');
            if (result) {
                result.parentNode.removeChild(result);
            }

            // Crear una tabla de análisis
            var table = document.createElement('table');
            table.className = 'components-table';
            var tr = document.createElement('tr');
            var th1 = document.createElement('th');
            th1.textContent = 'Component';
            var th2 = document.createElement('th');
            th2.textContent = 'Type';
            tr.appendChild(th1);
            tr.appendChild(th2);
            table.appendChild(tr);
            components.forEach(component => {
                var tr = document.createElement('tr');
                var td1 = document.createElement('td');
                td1.textContent = component[0];
                var td2 = document.createElement('td');
                td2.textContent = component[1];
                tr.appendChild(td1);
                tr.appendChild(td2);
                table.appendChild(tr);
            });
            document.querySelector('.analysis').appendChild(table);
        }
    </script>
    <script>
        window.onload = function() {
            var expressionInput = document.getElementById("expression");
            var resultBox = document.getElementById("result-box");
            expressionInput.value = "";
            resultBox.innerHTML = "";
        };
    </script>
   
    
</body>
</html>
